利用map()函数，把用户输入的不规范的英文，变成首字母大写，其他小写的规范的名字：比如说["ADMAm","LISA","JACk"] ["Admam","Lisa","Jack"]
利用 lamdba函数

In [2]:
ls = ["ADMAm","LISA","JACk"]

new_ls = map(lambda x: x.lower().capitalize(), ls)

print(list(new_ls))

['Admam', 'Lisa', 'Jack']

回数：从左向右和从右向左读都是一样的数，例如 12321，999，请利用filter()函数
使用 lambda函数

In [4]:
# 打印出1到1000之间的回数
# 这个对三位数才有效，超过就会出问题

new_ls = filter(lambda x: str(x)[0] == str(x)[-1], range(1000))
print(list(new_ls))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

假设，我们用一组tuple来表示学生的名字和成绩，L = [("Bob",75),("Adam",92),("Bart",66),("List",88)] 用sorted()对上述列表按照名字排序
使用lambda函数

In [6]:
ls = [("Bob",75),("Adam",92),("Bart",66),("List",88)] 

new_ls = sorted(ls, key=lambda x: x[0])
print(list(new_ls))

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('List', 88)]

In [10]:
# 再按照成绩高低进行排序

new_ls = sorted(ls, key=lambda x: x[1])
print(list(new_ls))

[('Bart', 66), ('Bob', 75), ('List', 88), ('Adam', 92)]

权重
goods = [{"name":"good1", "price":200, "sales":100, "stars":5, "comments":400},{"name":"good2", "price":300, "sales":120, "stars":4, "comments":500},{"name":"good3", "price":500, "sales":3000, "stars":2, "comments":199},{"name":"good4", "price":1288, "sales":8, "stars":5, "comments":398},{"name":"good5", "price":899, "sales":99, "stars":5, "comments":2000}]
权重是100
价格占的权重是40%,销量占的权重是17%,评级占的权重是13%,评论占的权重是30%

In [12]:
goods = [{"name":"good1", "price":200, "sales":100, "stars":5, "comments":400},{"name":"good2", "price":300, "sales":120, "stars":4, "comments":500},{"name":"good3", "price":500, "sales":3000, "stars":2, "comments":199},{"name":"good4", "price":1288, "sales":8, "stars":5, "comments":398},{"name":"good5", "price":899, "sales":99, "stars":5, "comments":2000}]

# sorted() 进行排序

def my_sorted(arg):
    price = arg['price']
    sales = arg['sales']
    stars = arg['stars']
    comments = arg['comments']
    
    data = price*0.4 + sales*0.17 + stars*0.13 + comments*0.3
    
    return data

print(sorted(goods, key=my_sorted))

[{'name': 'good1', 'price': 200, 'sales': 100, 'stars': 5, 'comments': 400}, {'name': 'good2', 'price': 300, 'sales': 120, 'stars': 4, 'comments': 500}, {'name': 'good4', 'price': 1288, 'sales': 8, 'stars': 5, 'comments': 398}, {'name': 'good3', 'price': 500, 'sales': 3000, 'stars': 2, 'comments': 199}, {'name': 'good5', 'price': 899, 'sales': 99, 'stars': 5, 'comments': 2000}]

In [14]:
r = sorted(goods, key=lambda x: x['price'] *0.4 + x['sales']*0.17+x['stars']*0.13+x['comments']*0.3, reverse=True)

print(r)

[{'name': 'good5', 'price': 899, 'sales': 99, 'stars': 5, 'comments': 2000}, {'name': 'good3', 'price': 500, 'sales': 3000, 'stars': 2, 'comments': 199}, {'name': 'good4', 'price': 1288, 'sales': 8, 'stars': 5, 'comments': 398}, {'name': 'good2', 'price': 300, 'sales': 120, 'stars': 4, 'comments': 500}, {'name': 'good1', 'price': 200, 'sales': 100, 'stars': 5, 'comments': 400}]